* {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}
header, section, footer {
	border: 2px solid black;
}
#container {
	margin: auto;
	width: 998px; /* Medida padrão atual para construção de sites*/
}
header {
	background-color: gray;
	overflow: hidden; 
	/* Overflow 
		hidden -> esconde
		auto -> coloca barra de rolagem se necessário
		none -> ferva o caldo, passa para outras áreas
	*/
}
div section {
	height: auto;
	background-color: silver;
}
footer {
	height: 65px;
	background-color: #666;	
}
#logo {
	background-image: url(logoFord.jpg);
	background-repeat: no-repeat;
	background-position: -10px center;
	width: 106px;
	height: 90px;
	/* Tanto font-size 0 qto text-ident negativo pode levar o texto a ser escondido */
/*	font-size: 0px; */
	text-indent: -150px;
}
#container header nav {
	background-color: #444;
}
.menu ul li {
	list-style: none;
	display: inline-block;
	width: 245px;
	text-align: center;
}
.menu ul li a {
 	background: 000#;
 	color: #fff;
 	display: block;
 	margin-top: 0px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	font-family: OpenSansLight;
 	font-size: 16px;
 	font-weight: bold;
 	text-decoration: none;
 	text-transform: uppercase;
}
.menu ul li a:hover {
	background: red;
 }
 .box {
 	border: 1px solid red;
 	width: 497px;
 	padding: 10px 15px 20px 30px;
 }
 .box p {
 	font: 14px OpenSansLight;
 	text-align: justify;
 	line-height: 25px;
 	letter-spacing: 2px;
 	word-spacing: 4px;
 }