* {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}
header, section, footer {
	border: 2px solid black;
}
#container {
	margin: auto;
	border: 2px solid red;
	width: 998px; /* Medida padrão atual para construção de sites*/
}
header {
	height: 300px;
	background-color: gray;
	overflow: hidden; 
	/* Overflow 
		hidden -> esconde
		auto -> coloca barra de rolagem se necessário
		none -> ferva o caldo, passa para outras áreas
	*/
}
div section {
	height: 300px;
	background-color: silver;
}
footer {
	height: 100px;
	background-color: #666;	
}
#logo {
	background-image: url(logoFord.jpg);
	background-repeat: no-repeat;
	background-position: -10px center;
	border: 1px solid red;
	width: 106px;
	height: 90px;
	/* Tanto font-size 0 qto text-ident negativo pode levar o texto a ser escondido */
/*	font-size: 0px; */
	text-indent: -150px;
}
#container header nav {
	background-color: blue;
}
.menu {
	border: 1px solid red;
}
.menu ul li {
	list-style: none;
	display: inline-block;
	width: 245px;
}
.menu ul {
	text-align: center;
}